body{
    background-color:brown;
}

h1{
    background-color: blue;
    color: aquamarine;
    text-align: center;
    border-radius: 25rem;
    border: ridge 7px;
    border-color: black aqua;
}

.verde{
    color: green;
    font-size:25px;
}
hr{
    background-color:black;
}