body{
    background-color: brown;
}
.parrafo{
    color: blue;
    font-size: 25px;
}
#cuarto{
    color: blueviolet;
    font-size: 30px;
}
#texto{
    color: blue;
}
p{
    color: blueviolet;
    font-size: 40px;
}